{% extends 'base.html.twig' %}

{% block title %}Créer un compte utilisateur{% endblock %}

{% block header %}
    <header class="sub_header">
        <div class="title">
            <div class="wrapper">
                <h1>{{ title }}</h1>
                <p>{{ sub }}</p>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}

    <section class="container">
        <form>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.name) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.email) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.validate_email) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.pass) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.validate_pass) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <button type="submit" class="btn btn-primary">Créer mon compte</button>
                        </div>
                    </div>
                </div>

            </div>

            {{ form_end(form) }}

        </form>
    </section>

{% endblock %}