{% extends 'base.html.twig' %}

{% block title %}Créer un compte utilisateur{% endblock %}

{% block header %}
    <header id="header" class="fixed-top header-transparent header-page">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="/"><span><i class="fas fa-mountain"></i> SnowTricks</span></a></h1>
            </div>
            {% block nav %}
                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li class="active"><a href="/">Accueil</a></li>
                        <li><a href="/figures">Figures</a></li>
                        {% if(app.user == null) %}
                            <li><a href="/addUser">Inscription</a></li>
                            <li><a href="/login">Connexion</a></li>
                        {% else %}
                            <li><a href="/">{{ app.user.username }}</a></li>
                            <li><a href="/addPost">Ajouter une figure</a></li>
                            <li><a href="/logout">Deconnexion</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </div>
    </header>
{% endblock %}

{% block content %}
    <main id="main">
        <section class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Créer un compte Snowtricks</h2>
            </div>

            {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.username) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.email) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.validate_email) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.plainPassword.first) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.plainPassword.second) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <button type="submit" class="btn btn-primary">Créer mon compte</button>
                        </div>
                    </div>
                </div>
            </div>

            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}