{% extends 'base.html.twig' %}

{% block title %}Ajouter une figure{% endblock %}

{% block header %}
    <header class="sub_header">
        <div class="title">
            <div class="wrapper">
                <h1>{{ title }}</h1>
                <p>{{ sub }}</p>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}

    <section class="container">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.figureTitle) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.figureContent) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.figureStatus) }}</div>
                </div>
                <div class="row">
                    {{ form_row(form.figureUserId) }}
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.figureCategory) }}</div>
                </div>

                <div class="media_btn">
                    <button type="button" class="btn btn-primary" id="img" value="img" data-value="img">Ajouter une image</button>
                    <button type="button" class="btn btn-info" id="vid" value="vid" data-value="vid">Ajouter une vidéo</button>
                </div>

                <div class="select_media">
                    <h4 class="media_title"></h4>
                    <div class="media_fields">

                        <div class="col-md-6">{{ form_row(form.mediaLink) }}</div>

                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.image) }}</div>
                        </div>

                        <div class="col-md-6">{{ form_row(form.mediaPostId) }}</div>

                        <div class="col-md-6">{{ form_row(form.resMediaId) }}</div>

                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.resType) }}</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                    <div>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                    </div>
                </div>

            </div>

        {{ form_end(form) }}

    </section>

{% endblock %}