{% extends 'base.html.twig' %}

{% block title %} Le {{ post.title }} {% endblock %}

{% block header %}
    <header class="main_header">
        <div class="title-home">
            <div class="wrapper-title">
                <h1>Le {{ title }}</h1>
                <p>Catergorie : {{ sub }}</p>
            </div>
        </div>
        <div class="header-filter">
            <div class="filter"></div>
            {% for c in couv %}
                    <img src="{{ asset('/upload/' ~  c.link ) }}" class="header_img"/>
            {% endfor %}
        </div>
    </header>
{% endblock %}

        {% block content %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <section class="container single_container">
                <article class="wrapper">
                    <div class="row row-single">
                        <div class="tricks">
                            <p>{{ post.title }}</p>
                            <p>{{ post.content }}</p>
                            {% if post.editionDate %}
                                <p>Mis à jour le {{ post.editionDate | date("d/m/Y") }}</p>
                            {% else %}
                                <p>Créé le {{ post.creationDate | date("d/m/Y") }}</p>
                            {% endif %}
                            <div class="media-container">
                                {% for m in media %}
                                    {% if m.ressource.type == 1 %}
                                        <div class="media-img">
                                            <img src="{{ asset('/upload/' ~  m.link ) }}"/>
                                        </div>
                                    {% elseif m.ressource.type == 2 %}
                                        <div class="media-vid">
                                            <iframe width="400" height="250" src="{{ m.link }}"></iframe>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary" href="/update_figure/{{ post.Slug }}">Editer</a>

                    <div class="comments">

                        <div class="container">

                            <h4 class="comment-title">
                                Les derniers commentaires
                            </h4>
{#                            {#{% if session.error != '' %}#}{#
                                <div class="alert alert-danger" role="alert">
#}{#                                    {{ session.error }}#}{#
                                </div>
#}{#                            {% elseif session.success != '' %}#}{#
                                <div class="alert alert-success" role="alert">
#}{#                                    {{ session.success }}#}{#
                                </div>
#}{#                            {% endif %}#}

                            {#<a href="" class="btn btn-primary add-com">
                                Ajouter un commentaire <i class="fas fa-edit"></i>
                            </a>#}
                            <button type="button" class="btn btn-primary add-com" value="" id="add-com">Ajouter un commentaire <i class="fas fa-edit"></i></button>

                            <div class="comment_user_granted">
                                {% if app.user %}
                                    <div class="form-comment">
                                        {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
                                            <div class="form-group">
                                                Commentaire à ajouter
                                            </div>
                                            <div class="form-group">
                                                {{ form_row(form.content) }}
                                            </div>

                                            <div class="form-group">
                                                {{ form_row(form.post_id, {'value': post.id}) }}
                                            </div>

                                            <div class="form-group">
                                                {{ form_row(form.user_id, {'value': app.user.id}) }}
                                            </div>
                                        <button type="submit" class="btn btn-primary">Commenter</button>
                                        {{ form_end(form) }}
                                    </div>
                                    {% else %}
                                    <p>Vous devez être connecté pour ajouter un commentaire</p>
                                    <a class="btn btn-success" href="/login">Se connecter</a>
                                {% endif %}
                            </div>

                            {% for comment in comments %}

                                <div class="comment-container">

                                    <div class="com-title">
                                        {{ comment.content }}
                                    </div>

                                    <p class="pseudo">
                                        Ajouté par {{ comment.user.username }} <br>
                                        Le {{ comment.creationDate|date("d/m/Y") }}
                                    </p>
                                </div>

                            {% endfor %}

                        </div>
                    </div>

                </article>

            </section>
        {% endblock %}
