{% extends 'base.html.twig' %}
{% block title %} Figure {{ post.title }} {% endblock %}
{% block hero %}
    {% for c in couv %}
        <section id="hero" style="background-image: url('{{ asset('/upload/' ~  c.link ) }}');">
            <div class="hero-container" data-aos="fade-up">
                <h1>{{ title }}</h1>
                <h2 class="trick-span">{{ sub }}</h2>
            </div>
        </section>
    {% endfor %}
{% endblock %}

{% block content %}

    <main id="main">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <section id="services" class="services">
            <div class="container">

                <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                    <h2>Le {{ post.title }}</h2>
                    <div class="row row-figure">
                        <p>{{ post.content }}</p>
                        {% if post.editionDate %}
                            <p>Mis à jour le {{ post.editionDate | date("d/m/Y") }}</p>
                        {% else %}
                            <p>Créé le {{ post.creationDate | date("d/m/Y") }} </p>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                </div>
            </div>
        </section>
        <section class="portfolio-details">
            <div class="container">
                <div class="portfolio-details-container">
                    <div class="owl-carousel portfolio-details-carousel">
                        {% for m in media %}
                            {% if m.ressource.type == 1 %}
                                <img src="{{ asset('/upload/' ~  m.link ) }}" class="img-fluid"/>
                            {% elseif m.ressource.type == 2 %}
                                <iframe width="400" height="250" src="{{ m.link }}" class="img-fluid"></iframe>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <a class="btn btn-primary" href="/update_figure/{{ post.Slug }}">Editer</a>
        </section>
        <section class="comment-section">
            <div class="comments">
                <div class="container">
                    <h4 class="comment-title">
                        Les derniers commentaires
                    </h4>

                    <button type="button" class="btn add-com" value="" id="add-com"><i class="fas fa-edit"></i> Ajouter un commentaire</button>

                    <div class="comment_user_granted">
                        {% if app.user %}
                            <div class="form-comment">
                                {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
                                <div class="row">
                                    <div class="form-group group-content">
                                        {{ form_row(form.content) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_row(form.post_id, {'value': post.id}) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_row(form.user_id, {'value': app.user.id}) }}
                                    </div>

                                    <button type="submit" class="btn btn-primary">Commenter</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        {% else %}
                            <p>Vous devez être connecté pour ajouter un commentaire</p>
                            <a class="btn btn-success" href="/login">Se connecter</a>
                        {% endif %}
                    </div>

                    <div class="comment-post">
                        {% for comment in comments %}

                            <div class="comment-container">

                                <div class="com-title">
                                    {{ comment.content }}
                                </div>

                                <p class="pseudo">
                                    Ajouté par {{ comment.user.username }}
                                    Le {{ comment.creationDate|date("d/m/Y") }}
                                </p>
                            </div>

                        {% endfor %}

                        <nav aria-label="...">
                            <ul class="pagination">
                                {% for p in 1..pages['page'] %}
                                    {% if(p == page) %}
                                        {% set active = 'active' %}
                                    {% else %}
                                        {% set active = '' %}
                                    {% endif %}
                                    <li class="page-item {{ active }}">
                                        <a class="page-link" href="/figure/{{ post.Slug }}/{{ p }}">{{ p }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}


