{% extends 'base-bo.html.twig' %}

{% block title %} SnowTricks back-office {% endblock %}

{% block content %}

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 class="m-title-h3"></h6>
                    <input type="hidden" name="id" value="" class="input_id">
                    <p class="content-comment"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="" method="post" class="delete_comment">
                        <input type="hidden" class="com_id_delete" value="" name="id">
                        <input type="submit" class="btn btn-danger" value="Supprimer">
                    </form>
                    <form action="" method="post" class="update_comment">
{#                        {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}#}
                        <input type="hidden" class="com_id" value="" name="id">
{#                        {{ form_row(form.status) }}#}
                        <input type="submit" class="btn btn-success" value="Valider">
{#                        {{ form_end(form) }}#}
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <h2 class="title">
        {{ title }}
    </h2>
    <h4 class="sub">
        {{ sub }}
    </h4>

    <div class="row">
        <!-- Content Column -->
        <div class="col-lg-6 mb-4">
            <!-- Color System -->
            <div class="row custom-block">
                <div class="col-lg-6 mb-4 custom-row">
                    <div class="card bg-primary text-white shadow">
                        <div class="card-body">
                            Total :<br>
                            {{ total }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4 custom-row">
                    <div class="card bg-success text-white shadow">
                        <div class="card-body">
                            Validés : <br>
                            {{ validated }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4 custom-row">
                    <div class="card bg-danger text-white shadow">
                        <div class="card-body">
                            Non validés : <br>
                            {{ not_validated }}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 mb-4">

            <!-- All Comments -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Tous les commentaires</h6>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Content</th>
                        <th scope="col">Figure</th>
                        <th scope="col">Utilisateur</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for comment in comments %}
                        <tr>
                            <th scope="row">{{ comment.id }}</th>
                            <td>{{ comment.content }}</td>
                            <td>{{ comment.post.slug }}</td>
                            <td>{{ comment.user.username }}</td>
                            {% if comment.status == 1 %}
                                <td><i class="fas fa-check-circle"></i></td>
                            {% elseif comment.status == 0 %}
                                <td>
                                    <button type="button" data-toggle="modal" data-target="#exampleModal" data-id="{{ comment.id }}" data-content="{{ comment.content }}" data-user="{{ comment.user.username }}" data-action="update" class="btn modal-btn edit">
                                        <i class="fas fa-minus-circle"></i>
                                    </button>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Not validated Comments -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Commentaires en attente de validation</h6>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Content</th>
                        <th scope="col">Figure</th>
                        <th scope="col">Utilisateur</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for not_valid in not_val %}
                        <tr>
                            <th scope="row">{{ not_valid.id }}</th>
                            <td>{{ not_valid.content }}</td>
                            <td>{{ not_valid.post.slug }}</td>
                            <td>{{ not_valid.user.username }}</td>
                            <td>
                                <button type="button" data-toggle="modal" data-target="#exampleModal" data-id="{{ not_valid.id }}" data-content="{{ not_valid.content }}" data-action="update" class="btn modal-btn edit">
                                    <i class="fas fa-minus-circle"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Not validated Comments -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Commentaires en attente de validation</h6>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Content</th>
                        <th scope="col">Figure</th>
                        <th scope="col">Utilisateur</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for valid in val %}
                        <tr>
                            <th scope="row">{{ valid.id }}</th>
                            <td>{{ valid.content }}</td>
                            <td>{{ valid.post.slug }}</td>
                            <td>{{ valid.user.username }}</td>
                            <td>
                                <button type="button" data-toggle="modal" data-target="#exampleModal" data-id="{{ valid.id }}" data-content="{{ valid.content }}" data-action="update" class="btn modal-btn edit">
                                    <i class="fas fa-check-circle"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}